#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.button-container button {
  background-color: #888;
  width: 50%;
}

/* For screens in landscape orientation or wider than taller */
@media screen and (orientation: landscape) {
  .image-container img {
    width: 80%;
  }

  .button-container {
    width: 80%;
  }
}

/* For screens in portrait orientation or taller than wider */
@media screen and (orientation: portrait) {
  .image-container img {
    width: 100%;
  }

  .button-container {
    width: 100%;
  }
}
